<%- include('parciales/header');%>
<div class="container mt-3"></div>
<%- include('parciales/navbartop');%>
  <h1><%= title %></h1>
  <%- include('parciales/bodystatusconnection');%>
  
</div>

<%- include('parciales/footer');%>